body, html {
    height: 100%;
    width: 100%;
    background-color: #b1d4e0;
}
.logo1 {
    margin-top: 2%;
    margin-left: 10%;
    position: absolute;
    cursor: pointer;

}
button1 {
    height: 50px;
    width: 150px;
    font-family: tahoma;
    color: black;
    margin-top: 2%;
    margin-left: 80%;
    border-bottom: black;
    position: absolute;
}
button2 {
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-family: tahoma;
    margin-top: 2%;
    margin-left: 90%;
    position: absolute;
}
button3 {
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-family: tahoma;
    margin-top: 2%;
    margin-left: 90%;
    position: absolute;
}
.billede1 {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.dropdown {
    top: 20%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.sletbrugeretable{
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

}


/* FORRETNINGSUDVIKLER START */

span.detaljer {
    display: none;
}
.semere {
    display: flex;
    justify-content: center;
    font-size: 300%;
}
.expanded-text:hover span.semere {
    display: none;
}

.expanded-text:hover span.detaljer {
    display: block;
}
.expanded-text {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: black;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.expanded-text:hover {
    box-shadow: inset 100000px 0 0 0 #54b3d6;
    color: white;
}

/* FORRETNINGSUDVIKLER SLUT */