@import url('https://fonts.googleapis.com/css2?family=Lato&amp;family=Montserrat&amp;family=Roboto&amp;display=swap');

body, html {
    height: 100%;
    width: 100%;
    background-color: #b1d4e0;
    font-family: Montserrat, sans-serif;
}

h3 {
    font-size: 3vw;
}

.logo1 {
    height: 80px;
    width: 200px;
    margin-top: 4%;
    position: absolute;
    cursor: pointer;

}
/* Ved ikke helt om der skal være en nyheds tekst på admin siden.
.adminnyhed {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    position: absolute;
    margin-top: 20%;
    font-family: arial, sans-serif;
*/

button1 {
    height: 50px;
    width: 150px;
    font-family: tahoma;
    color: black;
    margin-top: 2%;
    margin-left: 80%;
    border-bottom: black;
    position: absolute;
}

button2 {
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-family: tahoma;
    margin-top: 2%;
    margin-left: 90%;
    position: absolute;
}

.btn3 {
    height: 50px;
    width: 150px;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 90%;
    position: absolute;
    color: white;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: #04AA6D;
    font-size: 20px;
}

.btn3:hover {
    background-color: #3e8e41;
}

.billede1 {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.dropdown {
    top: 20%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* SLETBRUGERE START */

.sletbrugeretable {
    box-shadow: 0 5px 30px black;
    background-color: white;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

/* SLETBRUGERE SLUT */

/* FORRETNINGSUDVIKLER START */

span.detaljer {
    display: none;
}

.semere {
    display: flex;
    justify-content: center;
    font-size: 300%;
}

.expanded-text:hover span.semere {
    display: none;
}

.expanded-text:hover span.detaljer {
    display: block;
}

.expanded-text {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: black;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.expanded-text:hover {
    box-shadow: inset 100000px 0 0 0 #54b3d6;
    color: white;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.udvikleroverskrift {
    display: flex;
    justify-content: center;
    text-align: center;
}

.ramme {
    background-color: white;
    padding: 5px 10px 35px 10px;
    margin-top: 3%;
    opacity: 01;
    border-radius: 2rem;
}

/* FORRETNINGSUDVIKLER SLUT */

/* SKADE START */

.skadeborder {
    border-top: 2px solid black;
    padding-top: 15px;
}



/* SKADE SLUT */

/* NULL START */

.ramme1 {

    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.card-body {
    box-shadow: 0 5px 30px black;
}
.form-outline{

}

.form-control {
    border: none;
    width: 100%;
    border-bottom: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    color: black;
}

.form-control:focus {
    outline: none !important;
    border-bottom: 2px solid rgb(91, 243, 131);
    font-size: 17px;
    font-weight: bold;
    color: black;
}

::placeholder {
    color: white;
}

.mb-5 {
    padding: 3px;
    margin: 0px 0px 0px 0px;
    border-style: none;
    background-color: transparent;
    color: black;
    font-size: 18px;
    font-weight: 550;
}

.btn5 {
    margin-top: 10%;
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    background-color: #b1d4e0;
    border-style: none;
    color: white;
    font-weight: 600;
}

.btn5:hover {
    background-color: rgba(10, 136, 43, 0.5);
}

/* NULL SLUT */
/* TEST */

