body{
 background-color: #b1d4e0;
}
.container{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}
.form{
 display: flex;
 flex-direction: column;
}
.login-container{
 background-color: black;
 width: 450px;
 height: 500px;
 opacity: 85%;
 border-radius: 20px;
}