@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Hovedsageligt skrevet af Mikkel */

/* GENEREL START */

html, body {
    height: 100%;
    width: 100%;
    background-color: #b1d4e0;
    font-family: Montserrat, sans-serif;
}

h2 {
    font-family: Montserrat, sans-serif;
}
.form-control {
    border: none;
    width: 100%;
    border-bottom: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    color: black;
}

.opretskadesrapporttable {
    box-shadow: 0 5px 30px black;
    background-color: white;
    width: 400px;
    height: 400px;
}

/* GENEREL SLUT */

.skadesrapportForm{
    display: inline-flex;
    width: 100%;
}
