@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* GENEREL START */

html, body {
    height: 100%;
    width: 100%;
    background-color: #b1d4e0;
    font-family: Montserrat, sans-serif;
}

h2 {
    font-family: Montserrat, sans-serif;
}
.form-control {
    border: none;
    width: 100%;
    border-bottom: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    color: black;
}
table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}
th {
    text-align: left;
}
thead th {
    background-color: darkgoldenrod;
}
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
    position: relative;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}
/* GENEREL SLUT */

.skadesrapportForm{
    display: inline-flex;
    width: 100%;
}
