@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html {
    height: 100%;
    width: 100%;
    background-color: #b1d4e0;
    font-family: Montserrat, sans-serif;
}

.sletbrugeretable {
    box-shadow: 0 5px 30px black;
    background-color: white;
    width: 400px;
    height: 400px;
}

.btn {

}