
/* Skrevet af alle fra gruppen */

body, html {
    height: 100%;
    width: 100%;
    background-color: #b1d4e0;
    font-family: Montserrat, sans-serif;
}

span.detaljer {
    display: none;
}

.form-control {
    border: none;
    width: 100%;
    border-bottom: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    color: black;
}

.semere {
    display: flex;
    justify-content: center;
    font-size: 300%;
}

.expanded-text:hover span.semere {
    display: none;
}

.expanded-text:hover span.detaljer {
    display: block;
}

.expanded-text {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: black;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.expanded-text:hover {
    box-shadow: inset 100000px 0 0 0 #54b3d6;
    color: white;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.udvikleroverskrift {
    display: flex;
    justify-content: center;
    text-align: center;
}

.ramme {
    background-color: white;
    padding: 5px 10px 35px 10px;
    margin-top: 3%;
    opacity: 01;
}
.tilbage {
    margin: 1% 0 0 1%;
}