<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="http://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" th:href="@{index.css}" href="../static/index.css"/>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <a href="/">
        <img src="https://images.squarespace-cdn.com/content/v1/6097afd4f58cde04722a1de0/1620939663927-D70X5M8YI41G9HVHXK9C/K.W.BRUNN%26CO_5.E_Hvid_rgb.png?format=1500w"
             class="logo1 position-absolute top-0 start-50 translate-middle">
    </a>
</head>
<body>
<div>
    <div th:switch="${brugerRolle}">
        <div th:case="'admin'">
            <div>
                <a th:href="@{'/logud'}">
                    <button3 class="btn3 btn-lg btn-block">Log ud</button3>
                </a>
            </div>
            <div>
                <header class="adminnyhed position-absolute top-0 start-50 translate-middle">
                </header>
            </div>
            <div class="dropdown">
                <button class="dropbtn" style="border-radius: 2rem;">Admin menu</button>
                <div class="dropdown-content">
                    <a href="opretbruger">Opret bruger</a>
                    <a href="sletbrugere">Slet brugere</a>
                    <a href="#">Link 3</a>
                </div>

            </div>
            <div>
                <!--  Skal muligvis fjernes permanent @Frederik
                         <table>
                               <thead>
                               <tr>
                                   <th>
                                       Brugernavn
                                   </th>
                                   <th>
                                       Rolle
                                   </th>
                               </tr>
                               </thead>
                               <tbody>
                               <tr th:each="bruger : ${brugere}">
                                   <td th:text="${bruger.getBrugernavn()}">
                                   </td>
                                   <td th:text="${bruger.rolle}">
                                   </td>
                                   <td>
                                       <a class="btn btn-danger" th:href="@{'/slet/' + ${bruger.getBrugernavn()}}" role="button">Slet bruger</a>
                                   </td>
                               </tr>
                               </tbody>
                           </table>  -->
            </div>
        </div>
        <div th:case="'dataregistrering'">
            <div>
                <a th:href="@{'/logud'}">
                    <button3 class="btn3 btn-lg btn-block">Log ud</button3>
                </a>
            </div>
            <div class="d-grid gap-2">
                <a href="/opretkunde">
                    <button class="btn btn-primary" type="button">Opret kunde</button>
                </a>
                <a href="/opretlejeaftale">
                    <button class="btn btn-primary" type="button">Opret Lejeaftale</button>
                </a>
            </div>
        </div>
        <div th:case="'forretningsudvikler'">
            <div>
                <a th:href="@{'/logud'}">
                    <button3 class="btn btn-primary btn-lg btn-block">Log ud</button3>
                </a>
            </div>
            <div class="container">
                <div class="container position-absolute top-50 start-50 translate-middle card shadow-2-strong ramme">
                    <h3 class="udvikleroverskrift">Indenfor hvilken abonnementstype kunne du tænke dig at se
                        biltyper?</h3>
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <img src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,e_trim:0,q_80,w_640/v1/bilabonnement-fleet/kig2vudntj1i1ayban8w"
                                     class="card-img-top" alt="...">
                                <div class="card-body expanded-text">
                                    <h5 class="card-title overskrift">Bilabonnement<br>Unlimited<br>Ny bil i 3-36
                                        måneder<br></h5>
                                    <a href="/unlimitedBiltyper">
                                        <button class="btn btn-primary" type="button">Vælg Unlimited</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,e_trim:0,q_80,w_640/v1/bilabonnement-fleet/x1ogl6lsn3shaa9jwhgv"
                                     class="card-img-top" alt="...">
                                <div class="card-body expanded-text">
                                    <h5 class="card-title">Bilabonnement<br>Limited<br>Minileasing i 120 dage</h5>
                                    <a href="/limitedBiltyper">
                                        <button class="btn btn-primary" type="button">Vælg Limited</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="'skadeogudbedring'">
            <div>
                <a th:href="@{'/logud'}">
                    <button3 class="btn btn-primary btn-lg btn-block">Log ud</button3>
                </a>
            </div>
            <form method="post">
                <section class="vh-100">
                    <div class="container py-5 h-100 w3-animate-zoom">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                                <div class="card shadow-2-strong ramme1">
                                    <div class="card-body p-5 text-center">
                                        <h3 class="mb-4">Skade og udbedring</h3>
                                        <div class="skadeborder">
                                            <div class="form-outline mb-4">
                                                <a href="/lavSkadesrapport">
                                                    <button class="btn btn-primary btn-lg" type="button">Opret
                                                        skadesrapport
                                                    </button>
                                                </a>
                                            </div>
                                            <div class="form-outline mb-4">
                                                <a href="/seSkadesrapporter">
                                                    <button class="btn btn-primary btn-lg" type="button">Se
                                                        Skadesrapporter
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
        <div th:case="null">
            <form>
                <div>
                    <img src="https://i.imgur.com/Agy8PG1.png" class="billede1">
                </div>
            </form>
            <form method="post">
                <section class="vh-100">
                    <div class="container py-5 h-100 w3-animate-zoom">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                                <div class="card shadow-2-strong ramme1">
                                    <div class="card-body p-5 text-center">
                                        <h3 class="mb-5">Login</h3>
                                        <div class="form-outline mb-4">
                                            <input type="text" id="brugernavn" name="brugernavn"
                                                   class="form-control form-control-lg" placeholder="Brugernavn"/>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input type="password" id="kodeord" name="kodeord"
                                                   class="form-control form-control-lg" placeholder="Kodeord"/>
                                        </div>
                                        <div>
                                            <a th:text="${session.fejlmeddelse}"></a>
                                        </div>
                                        <div>
                                            <button class="btn5 btn-primary btn-lg btn-block" type="submit">Login
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>
</body>
</html>