<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>brugeroprettelse</title>
    <link rel="stylesheet" th:href="@{opretbruger.css}" href="../static/opretbruger.css"/>
</head>
<body>

<div>
    <a href="/">
        <button1 class="btn btn-primary btn-lg btn-block">Frontside</button1>
    </a>
</div>

<form class="form" method="post">
    <div class="container">
        <div>
            <h3 class="title">Opret bruger</h3>
            <div>
                <input type="text" id="brugernavn" name="brugernavn" class="form-control form-control-lg"
                       placeholder="Brugernavn"/>
            </div>
            <div>
                <input type="password" id="kodeord" name="kodeord" class="form-control form-control-lg"
                       placeholder="Kodeord"/>
            </div>
            <div>Rolle:
                <select id="rolle" name="rolle">
                    <option value="dataregistrering">dataregistrering</option>
                    <option value="forretningsudvikler">forretningsudvikler</option>
                    <option value="skadeogudbedring">skadeogudbedring</option>
                </select>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Opret bruger</button>
        </div>
    </div>
</form>
</body>
</html>