<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{index.css}" href="../static/index.css"/>
<head>
    <meta charset="UTF-8">
    <title>Opret lejeaftale</title>
</head>
<body>

<div>
    <div>
<h3>Opret lejeaftale - udfyld formularen</h3>
    <button type="button" onclick="java:history.back()" class="btn btn-primary position-absolute top-0 end-0 buttonback">Back</button>
    </div>
<div class="container">
    <form class="form" method="post">
    <div>
        <input type="number" id="kundeid" name="kundeid" class="form-control form-control-lg"
               placeholder="Kunde ID"/>
    </div>
    <div>
        <input type="number" id="vognnummer" name="vognnummer" class="form-control form-control-lg"
               placeholder="Vognnummer"/>
    </div>
    <div>
        <input type="number" step="any" id="forskudsbetaling" name="forskudsbetaling" class="form-control form-control-lg"
               placeholder="Forskudsbetaling"/>
    </div>
    <div>
        <input type="number" step="any" id="månedligbetaling" name="månedligbetaling" class="form-control form-control-lg"
               placeholder="Månedlig betaling"/>
    </div>
    <div>
        <input type="number" id="antalbetalinger" name="antalbetalinger" class="form-control form-control-lg"
               placeholder="Antal betalinger"/>
    </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Opret lejeaftale</button>
    </form>
</div>
</div>
</body>
</html>