<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret kunde</title>
</head>
<body>
<div>
<form class="form" method="post" >
    <div>
        <input type="text" id="navn" name="navn" class="form-control form-control-lg"
               placeholder="Navn"/>
    </div>
    <div>
        <input type="text" id="email" name="email" class="form-control form-control-lg"
               placeholder="E-mail"/>
    </div>
    <div>
        <input type="text" id="adresse" name="adresse" class="form-control form-control-lg"
               placeholder="Adresse"/>
    </div>
    <div>
        <input type="number" id="postnummer" name="postnummer" class="form-control form-control-lg"
               placeholder="Postnummer"/>
    </div>
    <div>
        <input type="text" id="by" name="by" class="form-control form-control-lg"
               placeholder="By"/>
    </div>
    <div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Opret kunde</button>
    </div>
</form>
</div>

</body>
</html>